<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/root.css" />
    <title>Error</title>
  </head>
  <body>
    <h2 style="padding: 20px;">
      Status: <%= status %>
    </h2>
    <p style="padding:0px 20px;">
      <%= message %>
    </p>
  </body>
</html>
