<nav>
  <h1><img src="icons/google-drive.svg" /> E!Drive</h1>
  <div class="links">
    <% if (user){ %>
    <a href="upload">Upload</a>
    <a href="logout">Log out</a>
    <% } else { %>
    <a href="login">Log in</a>
    <a href="signup">Sign up</a>
    <% } %>
  </div>
</nav>
