<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/root.css" />
    <link rel="stylesheet" href="/form.css" />
    <title>Upload Folder</title>
  </head>
  <body>
    <form action="/upload-folder" method="POST">
      <h1>Upload Your Folder</h1>
      <label for="foldername">Folder name:</label>
      <input type="text" id="foldername" name="foldername" required />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
