.greeting,
.container {
  margin: 2rem auto;
  text-align: center;
}
.container h2 {
  margin: auto 20px;
}
.container img {
  height: 70vh;
  width: 100vw;
}
.container a {
  text-decoration: none;
  color: var(--link);
  font-weight: bold;
}
.container a:hover {
  color: var(--secondary);
}
