:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  background-color: var(--background);
  color: var(--text);
  padding: 0;
  margin: 0;
}

:root[data-theme="light"] {
  --text: #0b0a10;
  --background: #f5f5f8;
  --primary: #72689a;
  --secondary: #c6aac4;
  --accent: #b38da3;
}
:root[data-theme="dark"] {
  --text: #f0eff5;
  --background: #060609;
  --primary: #6e6496;
  --secondary: #563954;
  --accent: #714b61;
}
